fastapi
uvicorn
python-multipart
pydantic
PyPDF2
pdfminer.six
sentence-transformers
faiss-cpu
numpy
python-dotenv
loguru
langchain-text-splitters
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]