fastapi
uvicorn
sqlalchemy
python-multipart
pydantic
PyPDF2
pdfminer.six
faiss-cpu
scikit-learn
numpy
python-dotenv
loguru
langchain-text-splitters
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
email-validator
pydantic
python-docx
qdrant-client
